@model DsiVendas.Models.Recurso

<h1 class="my-4">Cadastrar Recurso</h1>

<form asp-action="Criar" method="post" class="needs-validation" novalidate>
    
    <div class="form-group w-50">
        <label class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control" required/>
    </div>

    <div class="form-group w-50">
        <label asp-for="Tipo"></label>
        <select asp-for="Tipo" asp-items="ViewBag.TiposRecursos" class="form-control" onchange="tipoMudou(this.value)"></select>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
    <div class="form-group w-50">
        <label class="form-label">Preço</label>
        <input asp-for="Preco" class="form-control" required/>
    </div>
    <div class="form-group w-50">
        <label class="form-label">Quantidade</label>
        <input asp-for="Quantidade" class="form-control" required/>
    </div>
     <div class="form-group w-50">
        <label class="form-label">NumeroSerie</label>
        <input asp-for="NumeroSerie" class="form-control" required/>
    </div>
 <div class="form-group w-50">
        <label class="form-label">Data de Aquisição</label>
        <input asp-for="DataAquisicao" class="form-control" required/>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Voltar</a>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        function tipoMudou(tipo) {
            if (tipo === "Maquinário") {
                document.getElementById('maquinarioFields').style.display = 'block';
            } else {
                document.getElementById('maquinarioFields').style.display = 'none';
            }
        }
    </script>
}
