@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h1 class="display-4 text-primary">Bem-Vindos a Altaria MyFarm</h1>
    <p class="lead">Gerencie suas áreas de plantio, plantios, recursos /maquinários/insumos de forma eficiente.</p>
</div>

<div class="container">
    <div class="row">
        <!-- Áreas de Plantio -->
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Áreas de Plantio</div>
                <div class="card-body">
                    <h5 class="card-title">Informações sobre Áreas de Plantio</h5>
                    <p class="card-text">
                        As áreas de plantio são gerenciadas para maximizar a produção de sua fazenda. 
                        Acompanhe o estado de cada área, o tipo de cultura, e a produtividade estimada.
                    </p>
                    <p class="card-text">
                        Você pode visualizar o estado atual de cada área de plantio, o que ajudará a otimizar o uso da terra e dos recursos.
                    </p>
                </div>
            </div>
        </div>

        <!-- Plantio -->
        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Plantios</div>
                <div class="card-body">
                    <h5 class="card-title">Informações sobre Plantios</h5>
                    <p class="card-text">
                        Gerencie todos os plantios que você iniciou, incluindo o tipo de cultivo, a data de início e o status do crescimento.
                    </p>
                    <p class="card-text">
                        Acompanhe o progresso de cada plantio, registre o crescimento e cuide do seu cultivo até a colheita.
                    </p>
                </div>
            </div>
        </div>

        <!-- Recursos / Maquinários / Insumos -->
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Recursos / Maquinários / Insumos</div>
                <div class="card-body">
                    <h5 class="card-title">Informações sobre Recursos, Maquinários e Insumos</h5>
                    <p class="card-text">
                        Monitore seus recursos, maquinários e insumos essenciais para garantir que sua produção agrícola seja eficiente.
                    </p>
                    <p class="card-text">
                        Verifique a disponibilidade de maquinários, insumos como fertilizantes e sementes, e o consumo de recursos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
