@model DsiVendas.Models.AreaPlantio

<h1 class="my-4">Editar Área de Plantio</h1>

<form asp-action="Editar" method="post" class="needs-validation" novalidate>
    <div class="form-group w-50">
        <label class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control" required>
    </div>
      <div class="form-group w-50">
        <label asp-for="FazendaId" class="control-label">Fazenda</label>
        <select asp-for="FazendaId" class="form-control" asp-items="ViewBag.Fazendas"></select>
        <span asp-validation-for="FazendaId" class="text-danger"></span>
    </div>
    <div class="form-group w-50">
        <label class="form-label">Hectares</label>
        <input asp-for="Hectares" class="form-control" required>
    </div>
    <div class="form-group w-50">
        <label class="form-label">Localização</label>
        <input asp-for="Localizacao" class="form-control" required>
    </div>
    <div class="form-group w-50">
        <label class="form-label">Descrição</label>
        <input asp-for="Descricao" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary ml-2">Voltar</a>

</form>
